.h2{
    color: orange;
    text-align: center;
}
.h3{
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    color: rgb(117, 115, 115);
}
.hori{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 40px;
}
.ho{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 40px; 
}
.out{
    display: flex;
    flex-direction: row;
    
    margin-left: 100px;
    margin-right: 100px;
}
.out img{
    height: 675px;
}
.details{
    margin-left: 100px;
}
.details h6{
    color: rgb(102, 100, 100);
    font-size: 14px;
    font-weight: 350;
}